@page "/"

<PageTitle>Index</PageTitle>

<h1>Gerenciamento de Pagamentos X</h1>

Bem-vindo ao novo sistema de gerencimanto de pagamentos.

<SurveyPrompt Title="Como o nosso serviço está sendo para você?" />
