@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">XPaymentsProject</a>
        <button title="Navigation menu" class="navbar-toggler" id="btnToggle" @onclick="visibilidadeMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable" id="navMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Vendas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Relatórios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produtos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Produtos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cupons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cupons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="checkout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Checkout
            </NavLink>
        </div>
    </nav>
</div>

@code {

    private async Task visibilidadeMenu()
    {
        await JSRuntime.InvokeVoidAsync("visibilidadeMenu");
    }
}

